.control-historyButton
  top 115px
  topBarButtonRight()
  &:hover .tooltip
    opacity 1

.tooltip
  tooltip()
  position absolute
  pointer-events none
  top 50px
  left 75px
  z-index 200
  padding 5px
  line-height normal
  border-radius 1px
  opacity 0
  transition 0.1s

body[data-theme="dark"]
  .control-historyButton
    topBarButtonDark()
